.container {
  width: 80%;
  margin: auto;
}

.custom-chips {
  margin-left: 120px;
  display: flex;
  margin-bottom: 20px;
  gap: 80px;
}

.custom-chip {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  height: 100px !important;
  width: 120px;
  padding: 10px;
  justify-content: center;
  margin: 0 5px;
  background-color: #f0f0f0 !important;
  color: black !important;
  transition: background-color 0.3s, color 0.3s; 
}

.custom-chip.active {
  color: #FF0064 !important; 
}

.custom-chip.active .MuiChip-icon {
  color: #FF0064 !important; 
}

.MuiChip-icon {
  margin-bottom: 4px;
  color: inherit; 
}

.custom-tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.custom-tab {
  text-align: center;
}

.custom-tab.active {
  color: #FF0064 !important; 
}

.tab-label {
  display: flex;
  align-items: center;
}

.tab-icon {
  margin-right: 8px; 
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
